.gitignore
.Rhistory
.Rproj.user
*.Rproj
*.RData

myCBD/myData/real
myCBD/myData/nosupression
myAnalyses

myCBD/rsconnect/*.*
myUpstream/upstreamInfo/census.api.key.txt
myUpstream/upData/cbdDat0SAMP.R
myUpstream/lifeTables/dataIn/*.csv
myUpstream/lifeTables/dataIn/*.dta
myUpstream/lifeTables/dataIn/*.do
myUpstream/lifeTables/dataIn/*.txt
myUpstream/tempOutput/*.*

