  
.main-container {
    max-width: 95% !important;
    margin-left: auto;
    margin-right: auto;
  }


body { 
  font-size: 16px;
  color: black;
}

h1.title {
  font-size: 26px;
  color: firebrick;
  text-align: center;
  text-decoration: none;
}

h3.subtitle {
  font-size: 16px;
  color: DarkBlue;
  text-align: center;
  text-decoration: none;
}

h4.author {
  font-size: 16px;
  color: DarkBlue;
  text-align: center;
  text-decoration: none;
}



h1 { /* Header 1 */
    font-size: 22px;
  color: black;
  text-decoration: underline;
}


h2 {
  font-size: 22px;
  color: DarkBlue;
  margin-left: 0px;
}

h3 {
  font-size: 22px;
  margin-left: 20px;
  color: DarkBlue;
}


h4 {
  font-size: 16px;
  color: DarkBlue;
}

h5 {
  font-size: 14px;
  color: black;
}



ul {
  display: block;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  color: black;
}


body{
  font-family: Helvetica !important;
}